[user]
	email = wpatterson@witekio.com
	name = Will Patterson
[pull]
	rebase = true
	default = current
[diff]
    prompt = false
	tool = bc3
	guitool = bcompare
[merge]
    prompt = false
	tool = bcompare
	guitool = bcompare
[difftool "bcompare"]
    prompt = false
    path = "bcompare"
	cmd = "bcompare" "$LOCAL" "$REMOTE"
[mergetool "bcompare"]
    prompt = false
    path = "bcompare"
	cmd = "bcompare" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[push]
	default = current
[core]
	pager = less -F -X
	excludesFile = ~/dotfiles/configs/.gitignore
[format]
	pretty = format:%C(auto)%h %d%Creset %s%n%Cgreen%ad%Creset %aN <%aE>%n
[color]
	ui = auto
