#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Conky-Arch
GenericName=A Bash Gui for Yaourt
Icon=conky-lua-arch
Type=Application
Categories=GTK;GNOME;System;
MimeType=text/html
Encoding=UTF-8
Exec=conky
Terminal=false
MultipleArgs=false
StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
